<!doctype html>
<html lang="en">

<head>
    <title>Barulhometro</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <%- include('css'); %>

</head>

<body>


    <header class="p-3 text-decoration-none" style="background-color: #474C80; width: auto;">
        <div class="container text-decoration-none">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start text-decoration-none">
    
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"> 
                    <img src="https://i0.wp.com/dronebotworkshop.com/wp-content/uploads/2023/04/dronebotworkshop-arduino-uno.png?fit=347%2C246&ssl=1" alt="logo" width="50px" style="margin-right: 40px;">
                </a>
    
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/Escolas"><button type="button" class="btn btn-primary" style="margin: 5px;">Escolas</button></a></li>

                    <% 
                        esc = result[0]['nome_escola']
                        esc_id = result[0]['id_escola']

                        tur = ''
                        tur_id = 0

                    %>

                    <% try { %>
                        
                        <% if (esc) { %>
                            <li><a href="/turmas/<%= esc_id %>"><button type="button" class="btn btn-primary" style="margin: 5px;"> <%= esc %> </button></a></li>
                        <% } %>
    
                    <% } catch (error) { } %>
    
                    <% try { %>
                        
                        <% if (tur) { %>
                            <li><a href="/disciplinas/<%= tur_id %>"><button type="button" class="btn btn-primary" style="margin: 5px;"> <%= tur %> </button></a></li>
                        <% } %>
    
                    <% } catch (error) { } %>
    
                </ul>
    
                <% if (logado) { %>
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/images/<%= imagem %>" alt="pic" width="50" height="50" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small" style="">
                            <li><a class="dropdown-item" href="/usuario/<%= email %>">Perfil</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </div>
                <% } else { %>
                    <div class="text-end text-decoration-none">
                        <a href="/login" class="text-decoration-none"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                        <a href="/cadastro_usuario" class="text-decoration-none"><button type="button" class="btn btn-primary">Cadastro</button></a>
                    </div>
                <% } %>
            </div>
        </div>
    </header>

        <main>

            <% if (mensagem !='' ) { %>

                <div class="alert alert-danger mx-auto" role="alert"
                    style="margin: 20px; justify-content: center; align-items: center; text-align: center; width: 20rem;">
                    <%= mensagem %>
                </div>

            <% } %>

            
            <h1 style="font-size: 60px; text-align: center; margin: 20px;">Turmas <%= result[0]['nome_escola'] %></h1>
           

            <div class="col justify-content-center text-center">
                

                <% if (tipo=="administrador" ) { %>
                    <% try {
                      if (email == result[0]['administrador_email_escola']) {  %>

                        <a href="/cadastro_turma/<%= result[0]['id_escola'] %>" class="btn btn-primary"
                            style="min-width: 10rem; max-width: 30rem; padding: 15px; margin: 0px">
                            <h5 class="card-title" style="margin: 0;">
                                <p style="font-size: 30px; margin: 0%;">Adicionar</p>
                            </h5>
                        </a>
                    <% } } catch (error) {
                        
                    }%>
                <% } %>

                <div class="row justify-content-center">

                    <% result.forEach(resulta=> { 
                        if (resulta.nome_turma == null) {
                            
                        } else { %>

                            <div class="card azul"
                                style="width: 18rem; padding: 15px; margin: 20px; border-radius: 25px;">

                                <div class="card-body text-center">

                                    <a href="#">
                                        <h5 class="card-title" style="margin: 0;">
                                            <a href="/disciplinas/<%= resulta.id_turma %>">
                                                <button type="button" class="btn btn-primary text-decoration-none">
                                                    <p style="font-size: 30px; margin: 0%;">
                                                        <%= resulta.nome_turma %>
                                                    </p>
                                                </button>
                                            </a>
                                        </h5>
                                    </a>

                                </div>

                                <ul class="list-group list-group-flush azul">
                                    <li class="list-group-item azul">Turno: <%= resulta.turno_turma %>
                                    </li>
                                    <li class="list-group-item azul">Alunos: <%= resulta.numalunos_turma %>
                                    </li>
                                </ul>

                                <div class="card-footer text-decoration-none d-flex justify-content-evenly">

                                    <% if (email != undefined) { %> 
                                        <% if (email == resulta.administrador_email_escola) { %>

                                            <a href="/editar_turma/<%= resulta.id_turma %>"
                                                class="text-decoration-none">
                                                <button type="button"
                                                    class="btn btn-primary text-decoration-none">Editar</button>
                                            </a>
                                            <a href="/deletar_turma/<%= resulta.id_turma %>"
                                                class="text-decoration-none">
                                                <button type="button" class="btn text-decoration-none"
                                                    style="background-color: #2D3033; color: white;">Deletar</button>
                                            </a>

                                        <% } %>
                                    <% } %>
                                </div>
                            </div>    
                        <% }
                    }) %>
                </div>

                <a href="/ranking_turmas/<%= result[0]['id_escola'] %>" class="btn btn-primary" style="min-width: 10rem; max-width: 30rem; padding: 15px; margin: 10px">
                    <h5 class="card-title" style="margin: 0;">
                        <p style="font-size: 30px; margin: 0%;">Melhores Turmas</p>
                    </h5>
                </a>

                <a href="/ranking_disciplinas/<%= result[0]['id_escola'] %>" class="btn btn-primary" style="min-width: 10rem; max-width: 30rem; padding: 15px; margin: 10px">
                    <h5 class="card-title" style="margin: 0;">
                        <p style="font-size: 30px; margin: 0%;">Melhores Disciplinas</p>
                    </h5>
                </a>

            </div>
        </main>


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
            </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
            </script>
</body>

</html>